@import url("//fonts.googleapis.com/css?family=Oswald:400,300,700");

body {
//    font-family:"Helvetica Neue", Helvetica, Arial;
}
.blog-top {
    background: #454545;
    height:50px;
    nav {
        padding:0;
        height:50px;
    }
    ul {
        margin:0;
        list-style-type: none;
        height:50px;
    }
    li, a {
        float:left;
        height:50px;
        line-height: 50px;
    }
    li {
        margin-right:10px;
        span {
            height:50px;
            border-right:1px solid #a8a8a8;
            float:left;
        }
    }

    a {
        font-family: Oswald, "Helvetica Neue", Helvetica, Arial;
        color: #b2b2b2;
        font-size: 14px;
        text-transform: uppercase;
        transition:color 0.5s;
        &:hover {
            color:#FFFFFF;
        }
    }
}

.single-article {
    img {
        max-width:100%;
        margin:10px auto;
        &.alignnone {
            text-align: center;
            display:block;
        }
    }



    p em {
        display:block;
        text-align: center;
        width:100%;
    }

    h3.related {
        border-bottom:1px solid @mainColour;
    }

    .item-list {
        background:@secondaryColour;
        padding:20px 0;
        text-align: center;
        width:100%;
        .item-box {
            margin:0 7px;
            float:none;
            display: inline-block;
            text-align: left;
        }
    }

}

.entry-content {
    .alignleft {
        float:left;
    }
    .alignright {
        float:right;
    }
    img {
        vertical-align: middle;
        &.alignleft {
            margin:10px 10px 10px 0;
        }
        &.alignright {
            margin:10px 0 10px 10px;
        }
        &.aligncentre {
            margin:10px auto;
            text-align: center;
            display: block;
        }
    }
    p {
        font-size:15px;
    }
    a {
        color:@mainColourEvenDarker;
        &:hover {
            color:@mainColourDarker;
        }
    }

    strong {
        font-family: HalisGR-Bold;
    }
}

.posts {
    margin:20px 0;


    h3 {
        margin-top:0;
    }

    img {
        margin:0 20px 20px 0;
        height:150px;
        width:250px;
    }
    .post {
        border-bottom:1px dashed @mainColour;
        margin-bottom:20px;
    }

    .excerpt {
        position:relative;
        min-height:150px;

    }

    p {
        max-height:130px;
        overflow:hidden;
    }

    .author {
        position:absolute;
        bottom:0;
        left:270px;
        right:0;
    }

}

#reply-title {
    border-top:1px solid @secondaryColourDarker;
    margin-top:30px;
    padding-top:20px;
}

.comments-list {
    list-style-type: none;
    margin:0;
    border-top: 1px solid @secondaryColourDarker;
    padding:25px 0 0;
    li {
        margin-bottom:30px;
        padding-bottom:20px;
        border-bottom:1px dashed @mainColour;
    }
    img {
        margin:0 10px 10px 0;
        float:left;
    }
    p {
        padding-left:54px;
        img {
            margin:0 5px;
        }
    }

}

.blog-categories {
    list-style-type: none;
    padding:0;
    ul {
        list-style-type: none;
    }

}

.author-meta {
    margin:0 0 20px;
    border:1px solid @secondaryColour;
    padding:10px 10px 0;
    .boxShadow(0, 0, 3px, @secondaryColourDarker);

    img {
        float:left;
        margin:0 10px 10px 0;
    }
}

.posts-widget {
    margin-bottom:5px;
    float:left;
    a {
        float:left;
        padding-bottom:10px;
        margin-bottom:10px;
        border-bottom:1px dashed @mainColour;
        background-color:#FFFFFF;
        font-size:16px;
        &:hover {
            background-color:@secondaryColour;
        }
    }
    .strong {
        padding-bottom:10px;
        width:100%;
        float:left;

        span {
            display:block;
            font-size:12px;
            padding-top:10px;
        }
    }
    img {
        float:right;
        //width:110px;
        height:auto;
        margin-left:7px;
    }
}

.post-aside {
    border-left:1px solid @mainColour;
    margin-left:1%;
    width:38%;
    padding-left:1%;

}

.post-share {
    .social-buttons {
        padding-top:0;
        border-bottom:1px solid @secondaryColourDarker;
        margin-bottom:20px;
        padding-bottom: 20px;
    }
}