.store-tag {
    background:#888888;
    color:#ffffff;
    border-top:1px solid #757575;
    border-bottom:1px solid #757575;
    padding:10px 0;
    width:100%;
    display: block;
}

.item-list {
    list-style-type:none;
    padding:0 5px;
    margin:30px auto;
    width:1100px;
    .last {
        margin-right:0;
    }

}

.item-box {


    .store-tag {
        text-align: center;
    }

    .product-type {
        color:#FFFFFF;
        background:@mainColourDarker;
    }

    .product-type-download {
        background: @downloadColour;
    }

    .product-type-service {
        background:@serviceColour;
    }



    .product-type-mentor-session {
        background:@mentorColour;
    }

    .product-type-event-workshop {
        background:@eventColour;
    }



    li {
        margin:0 0 10px;
    }
    float:left;
    width:250px;
    height:auto;
    min-height:290px;
    margin:0 30px 40px 0;
    a {
        color:@mainColourDarker;
        background:#FFFFFF;
        box-shadow: 0 0 4px #A7A7A7;
        text-decoration: none;
        width:100%;
        display:block;
        transition: opacity 0.25s ease-in-out;
        -webkit-transition: opacity 0.25s ease-in-out;
//        &:hover {
//            transition: opacity 0.25s ease-in-out;
//            -webkit-transition: opacity 0.25s ease-in-out;
            opacity:0.85;
//        }
    }
    .store-tag {
        background:#888888;
        color:#FFFFFF;
    }
    strong, .strong {
        width:96%;
        margin:0 2%;
        font-weight:600;
        font-size:16px;
        text-transform: capitalize;
        color:@mainColourDarker;
    }
    span, strong, .strong {
        width:100%;
        margin:0;
        display: block;
        padding:10px 0;
        text-align: center;

//        border-left:1px solid #e5e5e5;
//        border-right:1px solid #e5e5e5;

    }
    strong, .price {
        //border-bottom:1px solid #e5e5e5;
    }

    .strong {
        min-height:64px;
    }
    img {
        width:100%;
        min-width:100%;
        height:auto;
        max-height:250px;
    }
}

.specialisms {
    list-style-type:none;
    padding:0;
    margin:0;
    li {
        background:@secondaryColourDarker;
        margin:0;
        border-bottom:1px solid #ffffff;
        padding:7px 5px;
        .boxShadow(0, 0, 4px, #A7A7A7);
        &:last-child {
            border-bottom:none;
        }

            color:#FFFFFF;

    }
}