@media (max-width:1200px) {
    .head {
        padding-right:0;
    }
    .menu-btns {
        margin-top:140px;
        position:relative;
    }

    #header_newsletter {
            padding:0 5px;
    }
}