.social-buttons {
    padding-top: 20px;
    margin-top:20px;
    float:left;
    width:100%;
    border-top:1px solid @secondaryColourDarker;

    .fb-like {
        margin-right:10px;
    }

    iframe {
        margin-top:3px;
    }

    div, iframe {
        float:left;
    }
}