@mainColour: #9bccfa;
@mainColourDarker: #78A5D4;
@mainColourEvenDarker: #6690ba;
@secondaryColour: #F8F8F8;
@secondaryColourDarker: #bcb6b5;
@secondaryColourLighter: #FAFAFA;
@tertiaryColour: #f9c3bd;
@mainFontColour: #928688;
@linkColour:@mainColour;
@linkHoverColour:@mainColourDarker;
@secondaryFontColour: #bebab1;

@headerFontColour:@linkColour;

@mainFontFamily:'HalisGR-Book';
@headerFontFamily:'HalisGR-SBook';
@downloadColour: #c3d890;
@eventColour: #dbaaf8;
@mentorColour:#f78e43;
@serviceColour: #f182a1;

@blogColour:#070707;