@import '_variables.less';
@import '_mixins.less';

.store {

    margin-top:30px;

    .aside-75 {

        float:right;

        .wrap {
//            padding:10px;
            padding:10px 0 0;
            border:5px solid @secondaryColourDarker;
            background:@secondaryColour;
            margin:auto;
            display:block;
            float:none;
            width:80%;
            min-width:400px;
        }

        h1 {
            line-height:32px;
            margin-top:0;
        }

        h1, .description {
            padding:0 10px;
        }

        .wrap-white {
            border-top:1px solid @secondaryColourDarker;
            padding:20px 10px 5px;

        }

    }

    .aside-40 {
        padding:10px 10px 0;
        border:5px solid @secondaryColourDarker;
        background:@secondaryColour;
        margin:0 115px 20px 0;
        h1 {
            color:@mainColourDarker;
            font-size: 22px;
            margin-top: 0;
            display: inline;
            float: none;
        }

        img {
            float: left;
            margin:0 10px 10px 0;
        }

        .strong {
            display:none;
            font-size: 16px;
        }
    }

    .store-products-title {
        width:40%;
        display:inline;
    }

    .item-list {
        margin:0;
        float:none;
        display:inline;

        .item-box {
            float:none;
            display:inline-block;
            margin:0 15px 40px 0;
        }
    }

    .aside-25 {

        img {
            width:100%;
            height:auto;
            margin-bottom:20px;
        }
    }



}

.btn {
    white-space:normal;
    height:auto;
}

.store-product-list {
    padding-top:10px;
}

h2 {
    width:100%;
    //color:#FFFFFF;
    padding-top:20px;

}

@import '_responsive1100_store.less';

@media (max-width:600px) {

    .store {
        .btn {
            width:100%;
        }
    }
    .aside-25 {
        width:100%;
    }

    h1 {
        font-size:14px;
    }
    h1.mob {
        font-size:20px;
    }
    .store {
        .aside-75 {
            margin-bottom:20px;
            width:100%;
            min-width:100%;
            .wrap {
                width:100%;
                min-width:100%;
                clear:both;
            }
        }
    }

}
